<!DOCTYPE html>
<html ng-app="jiraHelper">
<head>
    <title>Jira Tools</title>
    <link rel='stylesheet' href='/styles/bootstrap.min.css'/>
    <link rel='stylesheet' href='/styles/style.css'/>
    <script type="text/javascript" src="/scripts/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body class="jira" ng-init="logined=<%= logined %>;">
<div class="login frame" ng-show="!logined">
    <div class="cont">
        <form role="form" ng-controller="loginCtrl" novalidate>
            <div class="form-group">
                <input type="text" ng-disabled="logging" class="form-control" placeholder="Username" ng-model="user.username"/>
            </div>
            <div class="form-group">
                <input type="password" ng-disabled="logging" class="form-control" placeholder="Password" ng-model="user.password"/>
            </div>
            <hr/>
            <button type="submit" ng-show="!logging" class="btn btn-primary" ng-click="login()">Submit</button>
            <progressbar ng-show="logging" class="progress-striped active" value="100" type="primary"><i></i></progressbar>
        </form>
    </div>
    <script type="text/ng-template" id="loginFail.html">
        <div class="login-fail">
            <h3>Login failed</h3>

            <p>Please check your login information and try again.</p>
            <hr/>
            <div class="child-center">
                <button class="btn btn-danger" ng-click="close()">GOT IT</button>
            </div>
        </div>
    </script>
</div>
<div ng-show="logined" class="frame main-frame" ng-controller="releaseSearch">
    <div class="release-search child-center">
        <input type="text" ng-model="fixversion" typeahead="item for item in items | filter:$viewValue | limitTo:8"
               placeholder="Input fix version here" class="form-control fix-version"/>

        <hr/>

        <span class="team-item">School PC</span><span class="team-item">School Dragon</span>
        <hr />
        <button class="btn btn-primary" ng-click="generate()" ng-show="!generating">Generate</button>
        <progressbar ng-show="generating" class="progress-striped active" value="100" type="primary"><i></i></progressbar>
    </div>
    <div class="release-list" ng-show="list">
        <div id="list">
            <p class="hide" style="font-size: 14px;">Hi Guys:
                <br />
                We have <span style="color: #0000ff;font-weight: bold;">{{total}}</span> stories should be released in this
                <span style="color:#880000;font-weight: bold;">{{listTitle}}</span> release plan.
                <br />
                Please GL all stories before this Wednesday, thanks.
            </p>
            <table class="table-bordered">
                <tr>
                    <th style="background: #dedede;padding:10px;">Key</th>
                    <th style="background: #dedede;padding:10px;">Summary</th>
                    <th style="background: #dedede;padding:10px;">Assignee</th>
                    <th style="background: #dedede;padding:10px;">Reporter</th>
                    <th style="background: #dedede;padding:10px;">Priority</th>
                    <th style="background: #dedede;padding:10px;">status</th>
                </tr>
                <tr ng-repeat="item in list">
                    <td style="padding: 10px;"><a href="https://jira.englishtown.com/browse/{{item.key}}" target="_blank">{{item.key}}</a></td>
                    <td style="padding: 10px;">{{item.fields.summary}}</td>
                    <td style="padding: 10px;">{{item.fields.assignee.displayName}}</td>
                    <td style="padding: 10px;">{{item.fields.reporter.displayName}}</td>
                    <td style="padding: 10px;">{{item.fields.priority.name}}</td>
                    <td style="padding: 10px;">{{item.fields.status.name}}</td>
                </tr>
            </table>
        </div>
        <div class="child-center child-frame">
            <button class="btn btn-danger" ng-click="exportMail()">Export</button>
        </div>
    </div>
</div>
</body>
</html>
