@import "elements.less";

.jira {
	.login-fail {
		padding: 20px;
	}

	.child-center {
		text-align: center;
	}
	.child-frame {
		padding: 10px;
	}

	.login {
		.cont {
			text-align: center;
			width: 270px;
			margin: 0 auto;
			padding: 20px;
			margin-top: 50px;
			border: 1px #ccc solid;
			.rounded(10px);
		}
	}

	.release-search {
		width: 270px;
		margin: 50px auto 0 auto;
		padding: 20px;
		border: 1px #ccc solid;
		.rounded(10px);

		.fix-version {
			width: 200px;
			margin: 0 auto;
		}

		.team-item {
			margin: 0 5px;
			padding: 5px 10px;
			border: 1px #ccc solid;
			.rounded(10px);
		}
	}
	.release-list {
		width: 800px;
		margin: 20px auto 0 auto;

		.mail-hidden {
			display: none;
		}

		th, td {
			padding: 10px;
		}
		th {
			background: #ccc;
		}
		.export-progress {
			width: 200px;
			margin: 0 auto;
		}
	}
}